@mixin font-dpr($fontsize){
    font-size :$fontsize;
    [data-dpr ="2"] &{
      font-size :$fontsize *2;
    }       
    [data-dpr ="3"] &{
          font-size :$fontsize *3;
    }
}
.headtop{
    width:100%;
    height: 3rem;
    background-color:pink;
}
.headtxt{
    @include font-dpr(16px); 
    color:#fff;
}
